#grid-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
}

.square {
    border: solid 2px rgb(45, 45, 45);
    height: 2rem;
    width: 2rem;
}

.square:hover {
    background: red;
}